<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header.ejs'); %>
    <title>Register Page</title>
  </head>
  <body>
    <div class="main">
      <div class="home-section">
        <%- include('./partials/navbar.ejs') %>

        <div class="login-main">I'm the registration page.</div>

        <%- include('./partials/footer.ejs') %>
      </div>
    </div>
  </body>
</html>
