<div class="footer-section">
  <div class="content">
    <div class="about-wrapper">
      <h2>ABOUT</h2>
      <a href="#">FAQs</a>
      <a href="#">Terms & Conditions</a>
    </div>
    <div class="logo-wrapper">
      <div class="image-container">
        <h1 style="margin-right: 10px; color: var(--primary); font-weight: 400">
          Tiff's
        </h1>
        <img src="/static/assets/images/tiff-logo.png" alt="Home Logo" />
      </div>
      <a href="#">www.tiffBurger.com</a>
    </div>
    <div class="contacts-wrapper">
      <div class="content">
        <h2>CONTACTS</h2>
        <p>(+63) 9123456789</p>
        <div class="icon-wrapper">
          <div class="icon-container">
            <img src="/static/assets/images/footer-fb-icon.png" alt="fb logo" />
          </div>
          <div class="icon-container">
            <img
              src="/static/assets/images/footer-youtube-icon.png"
              alt="youtube logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <p class="copyright">© 2023 Tiff's Burger</p>
  </div>
</div>
