<div class="nav-main">
  <div class="logo-container">
    <h1>Tiff's</h1>
    <img
      src="/static/assets/images/tiff-logo.png"
      style="width: 60px; height: 50px"
      alt="Home Logo"
    />
  </div>
  <ul class="menu-container">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Contacts</a></li>
    <li><span></span></li>
    <li>
      <a href="#"
        ><img
          src="/static/assets/images/home-cart-icon.png"
          alt="home cart icon"
      /></a>
    </li>
    <li>
      <a href="#"
        ><img
          src="/static/assets/images/home-admin-icon.png"
          alt="home user icon"
      /></a>
    </li>
  </ul>
</div>
